#stockinfo {
	display: inline-block;
}

span.stock.ok {
	color: limegreen;
}

span.stock.ko {
	color: red;
	font-weight: bold;
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}